/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* ===== BODY ===== */
body {
    background: radial-gradient(circle at top, #0f2027, #000);
    color: white;
}

/* ===== HEADER ===== */
.header {
    background: linear-gradient(90deg, #00ff99, #00ccff);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px #00ffcc;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #000;
    text-shadow: 0 0 10px white;
}

/* ===== NAV ===== */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 15px;
}

nav ul li {
    position: relative;
}

/* LINKS PRINCIPALES */
nav ul li a {
    background: transparent;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    text-decoration: none;
}

/* LÍNEA GAMER */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ===== DROPDOWN TOPS ===== */
.dropdown-menu {
    position: absolute;
    top: 28px;
    left: 0;

    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #00ffcc;
    border-radius: 14px;

    min-width: 200px;
    padding: 10px 0;

    display: none;
    box-shadow: 0 0 15px #00ffcc;
    z-index: 100;
}

/* MOSTRAR MENÚ */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* LINKS DEL MENÚ */
.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #00ffcc;
    font-size: 14px;
    text-align: center;
}

/* HOVER DEL MENÚ */
.dropdown-menu li a:hover {
    background: #00ffcc;
    color: black;
    font-weight: bold;
}

/* ===== INDICE ===== */
.indice {
    text-align: center;
    margin: 60px 20px;
}

.indice h2 {
    font-size: 32px;
    color: #00ffcc;
    text-shadow: 0 0 15px #00ffcc;
}

.indice h3 {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.8;
}

/* ===== PROPOSITO ===== */
.prosito {
    max-width: 800px;
    margin: auto;
    background: rgba(0,0,0,0.6);
    border: 2px solid #00ffcc;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px #00ffcc;
}

.prosito p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
}